/* Horizontal Navigation Bar */

.style {
    text-align: center;
    list-style-type: none;
}

.menu {
    list-style: none;
    
}
.menu li {
    display: inline;
    padding:0 12px;
	background-color:#999;
}

ol {
    text-align: center; list-style-position:inside
}
img {
    width: 400px;
}